:root {
  --primary: #1b1b1b;
  --secondary: #554b4b;
  --crimson-red: #990000;
  --carousel-scale: 1.05;
  --carousel-hover-pos: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.navbar {
  position: absolute;
  top: 100px;
  right: 200px;
  width: 65px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 25px;
  overflow: hidden;
}

.navbar.open {
  width: 200px;
  height: 200px;
}

.nav-open-anim {
  animation: open 0.7s forwards;
}

.nav-close-anim {
  animation: close 0.7s forwards;
}

@keyframes open {
  0% {
    width: 65px;
    height: 40px;
  }

  50% {
    width: 200px;
    height: 40px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

@keyframes close {
  0% {
    width: 200px;
    height: 200px;
  }
  50% {
    width: 200px;
    height: 40px;
  }
  100% {
    width: 65px;
    height: 40px;
  }
}

.top-frame {
  width: 100%;
  background: var(--secondary);
  display: flex;
  padding: 5px 15px 5px 5px;
}

.menu-icon {
  background: transparent;
  border: none;
  margin-left: auto;
}

.menu-icon:hover {
  cursor: pointer;
}

.link-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.link-container a {
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 10px 0 10px 20px;
  transition: background-color 0.2s ease;
}

.link-container a:hover {
  background-color: var(--secondary);
}

/* Carousel Styling */
.carousel-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 685px;
  height: 400px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-wrapper {
  position: relative;
  height: fit-content;
  /* border: 1px solid green; */
  height: 300px;
}
.slides-and-buttons {
  position: relative;
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  height: 300px;
  align-items: center;
}

.carousel-container img {
  /* border: 1px solid green; */
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.controls button {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  height: 55px;
  background: var(--crimson-red);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
}

button p {
  margin: 0;
  width: 100%;
  text-align: center;
  display: block;
}

.live {
  font-weight: lighter;
  padding: 0 10px;
  width: 200px;
}

.move {
  font-weight: bolder;
  padding: 0 10px;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid brown; */
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

.left,
.right {
  opacity: 0.7;
  filter: blur(5px);
}

.slide.left {
  transform: translate(-120%, -40%);
  z-index: -99;
}

.slide.right {
  z-index: -99;
  background-color: green;
  transform: translate(20%, -40%);
}

.slide.active {
  transform: translate(-50%, -50%);
  /* border: 1px solid yellow; */
}

.slide.active div {
  transition: transform 0.3s ease;
}

.slide.active div:hover {
  animation: scaleAnim 0.1s ease-in forwards,
    hoverAnim 1s ease-in-out infinite alternate 0.1s;
}
.slide.inactive {
  opacity: 0;
  z-index: -999;
  transform: translate(-50%, -30%);
}

.slide div {
  width: 100%;
  height: 100%;
}

@keyframes hoverAnim {
  0% {
    transform: scale(var(--carousel-scale)) translatey(0);
  }

  100% {
    transform: scale(var(--carousel-scale)) translatey(5px);
  }
}
@keyframes scaleAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(var(--carousel-scale));
  }
}
